---
layout: default
title: Kevin Chen 
description: "Love Android ,Love Code ,Love Design"
---
{% include codepiano/setup %}
<article class="is-post">

    <img class="me" src="/image/ikevinchen.png" alt="Photo I Love" />

    <header>
        <h2>Kevin Chen</h2>
        <span class="byline">Love Android ,Love Code ,Love Design</span>
    </header>

    <p>Welcome to my home on the internet! Everything here is free
    under the Creative Commons Attribution 3.0 license unless marked
    otherwise.</p>
 
    <p>This site contains various pieces of writing across my various
    interests, and spanning several years. You can
    <a href="https://github.com/KevinChen9117/KevinChen9117.github.io">fork this site
    on github</a> if you wish.</p>


</article>

{% include post-list.html posts=paginator.posts %}




